@import url("/css/index/colors");
.container {
    height: 100%;
    width: 100%;
    top: 40px;
    position: fixed;
    overflow: auto; 
    background-color: var(--color-whitefff);
}

#about-resale,#advantages-service,
#app-description,#other-services,
#plan-list,#presentation,#ssh-description,#footer{
    position: relative;
    height:100%;
    width:100%;
}
#presentation{
    background-color:rgb(255, 255, 255) ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#presentation > .presentation-card{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#presentation > .presentation-card > .presentation-title{
    position: absolute;
    top: 5%;
    padding: 0px 0px 0px 15px;
}
#presentation > .presentation-card > .presentation-title > .title-1,.title-2{
    font-family: 'Nunito', sans-serif;
    font-size: 25px;
    text-decoration: none;
    font-style: normal;
}
#presentation > .presentation-card > .presentation-title > .title-2{
    color: #0084ff;
}
#presentation > .presentation-card > .presentation-text{
    height: 40%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    left: 15px;
}
#presentation > .presentation-card > .presentation-text > p{
    font-size: 18px;
    line-height: 28px;
    font-family: 'Nunito', sans-serif;
}
#presentation > .presentation-card > .presentation-text> .presentation-button{
    height: 45px;
    width:85%;
    display: flex;
    justify-content: space-around;
}
#presentation > .presentation-card > .presentation-text> .presentation-button > a{
    height: 45px;
    width:130px;
    color: #ffffff;
    background-color: #0084ff;
    display: flex;
    justify-content:center;
    align-items: center;
    border-radius: 15px;
}
#presentation > .presentation-card > .presentation-text> .presentation-button > .premium{
    background-color: #0084ff;
}
#presentation > .presentation-card > .presentation-text> .presentation-button > .free{
    background-color: #FEBC2C;
}
#about-resale {
    text-align: center;
    height:100%;
    background-color: #ffffff;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#about-resale >.card-about-resale{
    height:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0px 10% 0px 10%;
    font-size: 18px;
    line-height: 28px;
    font-family: 'Nunito', sans-serif;
}
.about-resale-logo{
    color: #0084ff;
}
#about-resale >.card-about-resale > a{
    width:17%;
    height:45px;
    color: #ffffff;
    background-color: #FD413C;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    font-size: 25px;
    line-height: 28px;
    font-family: 'Nunito', sans-serif;
}
#about-resale >.card-about-resale > h6{
    color: #525252;
    font-size: 25px;
}
#app-description{
    background-color: #082b75;
    color: #ffffff;
}
#app-description > .card-app-description {
    height:100%;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0px 10% 0px 10%;
}
#app-description > .card-app-description >.title-app-description {
    text-align: center;
    color: #ffffff;
    font-size: 25px;
    line-height: 28px;
    font-family: 'Nunito', sans-serif;
}
#app-description > .card-app-description > h2{
    text-align: center;
    font-size: 25px;
    line-height: 28px;
    font-family: 'Nunito', sans-serif;
}
#plan-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(230, 255, 252);
}
#plan-list > .card-container{
    height:100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#plan-list > .card-container > h3{
    font-size: 25px;
    line-height: 28px;
    font-family: 'Nunito', sans-serif;
}
#plan-list > .card-container > .card-main{
    height:90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#plan-list > .card-container > .card-main > .plans{
    position: relative;
    top: 10px;
    height: 90%;
    width:33%;
    border-radius: 7px;
    display: flex;
    background-color: #ffffff;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}
#plan-list > .card-container > .card-main > .plans > .card-plan-top,.card-plan-and {
    display: flex;
    height: 55%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#plan-list > .card-container > .card-main > .plans > .card-plan-top{
    height:30%;
}
#plan-list > .card-container > .card-main > .plans > .card-plan-top > .description{
    color: #525252;
    font-size: 15px;
    line-height: 28px;
    font-family: 'Nunito', sans-serif;
}
#plan-list > .card-container > .card-main > .plans > h6,
#plan-list > .card-container > .card-main > .plans > .card-plan-top > h6 {
    color: #0fe688;
    text-align: center;
    font-size: 25px;
    line-height: 28px;
    font-family: 'Nunito', sans-serif;
}
#plan-list > .card-container > .card-main > .plans > .card-plan-and > ul{
    list-style: none;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 17px;
    line-height: 28px;
    font-family: 'Nunito', sans-serif;
}
#plan-list > .card-container > .card-main > .plans > .card-plan-and > a{
    height: 35px;
    width: 45%;
    color: #ffffff;
    background-color: #1fc47c;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
#plan-list > .card-container > .card-main > .plans > .card-plan-top > h4{
    font-family: 'Nunito', sans-serif;
    position: relative;
    width: 60%;
}
#cifrão{
    position: relative;
    top: -20px;
    font-size: 25px;
}
#valor{
    position: relative;
    font-size: 45px;
}

#plan-list > .card-container > .card-main > #plan2{
    position: relative;
    height:95%;
    z-index: 44;
    -webkit-box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.75);
}

#ssh-description{
    height: 170%;
    background-color: #ffffff;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0px 0px 0px 6%;
}
#ssh-description > #illustration{
    position: absolute;
    top:25%;
    left: 56%;
}
#ssh-description > h3 , h6 , p {
    width:65%;
    font-family: 'Nunito', sans-serif;
}
#ssh-description > p, h6{
    color: #525252;
}
#ssh-description > h6{
    font-size: 15px;
}
#ssh-description > h3{
    font-size: 25px;
}

#ssh-description >.types-description-ssh{
    height: 95px;
    width:65%;
    position: relative;
    display: flex;
}
#ssh-description >.types-description-ssh > img{
    height:60px;
    width:60px;
    position: absolute;
    top: -10%;
    left: -5%;
}
#ssh-description >.types-description-ssh > .types-ssh{
    height:100%;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
    text-align: left;
    padding: 0px 0px 0px 30px;
    font-family: 'Nunito', sans-serif;
}
#ssh-description >.types-description-ssh > .types-ssh >p{
    font-size: 15px;
    margin-top:8px;
}

#advantages-service {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 25px;
    font-family: 'Nunito', sans-serif;
    justify-content: space-evenly;
}
#advantages-service > .items-grup{
    height: 80%;
    width:90%;
    display: flex;
    justify-content: space-evenly;
}

#advantages-service > .items-grup > .items-column{
    height: 100%;
    width:30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#advantages-service > .items-grup > .items-column > .items-view{
    height:48%;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#advantages-service > .items-grup > .items-column > .items-view > img{
    height:90px;
    width: 90px;
}
#advantages-service > .items-grup > .items-column > .items-view > p{
    font-size: 17px;
    width: 90%;
}
#other-services{
    background-color: #ffffff;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#other-services > h3,h6{
    text-align: center;
    font-size: 25px;
    font-family: 'Nunito', sans-serif;
}

#other-services > .card-container > .card-services> h5 > img{
    margin-left: -25px;
    height:60px;
    width:60px;
}
#other-services > .card-container > .card-services> h5 {
    width: 75%;
    font-size: 19px;
    font-family: 'Nunito', sans-serif;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#other-services > .card-container{
    width:95%;
    height:65%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#other-services > .card-container > .card-services{
    width:50%;
    height: 90%;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 2px #0fe688;
}

#other-services > .card-container > .card-services > p{
    font-size: 18px;
}
#footer{
    height: 65px;
    width:100%;
    display: flex;
    background-color: #121212;
}
#footer > .author > a,
#footer > .Additional-Information > a{
    color: #0084ff;
}
#footer > .author{
    width: 54%;
    height:100%;
    color: #ffffff;
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: left;
    padding: 0px 0px 0px 20px;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
}
#footer > .Additional-Information{
    width:46%;
    height: 100%;
    display: flex;
    background-color: white;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px 60px 0px 0px;
}

#contato{
    top:90%;
    left:70%;
    z-index: 55;
    position: fixed;
    top:90%;
    left:93%;
}
#contato > img{
    height:60px;
    width:60px;
}