:root{
    --color-whitefff:#ffffff;
    --color-dark000:#000000;
    --color-dark212:#121212;
    --color-graye6e:#6e6e6e;
    --color-gray525:#525252;
    --color-blue4ff:#0084ff;
    --color-blueb75:#082b75;
    --color-green688:#0fe688;
    --color-green47c:#1fc47c;
    --color-red13c:#FD413C;
    --color-yellowc2c:#FEBC2C;
}