@import url("./mobile-phone-query.css");
@import url("./desktop-query.css");
@import url("./container.css");
@import url("./colors.css");
@import url("./nav-bar.css");
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height:100vh;
    width:100vw;
    position: relative;
    overflow: hidden;
}

a{
    color: var(--color-graye6e) ;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#icon-size{
    height:30px;
    width:30px;
}