@media (min-width: 1023px) {
    #nav-bar > .logo{
        width:35%;
    }
    #login-desktop{
        width: calc(100% / 10);
    }
    #nav-bar > .logo > h2 > #logo{
        font-size: 30px;
    }
    #nav-bar > .menu-style >  #view-menu{
        display: none;
    }
    #nav-bar > .menu-style >  #menu-list{
        padding: 0px 0px 0px 0px;
    }
    .add-services-a > ul{
        height: 65%;
    }
    #nav-bar > .menu-style > #login-mobile{
        display: none;
    }
    #presentation > .presentation-card{
        height: 100%;
        width:50%;
    }
    #presentation > .presentation-card > .presentation-text{
        width: 70%;
    }
    #presentation > .presentation-card > .presentation-title{
        width:50%;
    }
}
